# Gradle
.gradle/
build/
out/
classes/
gradle-app.setting
.gradletasknamecache

# Eclipse
*.launch

# IntelliJ IDEA
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

# VSCode
.settings/
.vscode/
bin/
.classpath
.project

# Linux
.Trash-*
.directory

# MacOS
*.DS_Store
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.com.apple.timemachine.donotpresent
.TemporaryItems
.Trashes
.AppleDouble
.LSOverride

# Fabric
run/

# Java
hs_err_*.log
replay_*.log
hs_err_pid*
replay_pid*
*.hprof
*.jfr
*.class
.mtj.tmp/

# BlueJ files
*.ctxt

# Log files
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# JIRA plugin
atlassian-ide-plugin.xml

# Windows
*.lnk
$RECYCLE.BIN/
[Dd]esktop.ini
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Others
*.stackdump
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.VolumeIcon.icns
.nfs*
.fuse_hidden*

# Ignorance Prevention
!gradle-wrapper.jar
!gradle-wrapper.properties
!src/**/build/